.regist-login {
  width: 30%;
  min-width: 220px;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 5%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);

  @include max-media(mobile) {
    box-shadow: none;
  }
  

  img {
    width: 60%;
    min-width: 10rem;
    max-width: 20rem;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    max-width: 400px;

    input {
      border: 1px solid #D1D1D1;
      padding: 10px;
      margin-bottom: 1rem;
      font-family: 'Open Sans';
      font-size: 12px;

      &::placeholder {
        color: #D1D1D1;
      }

      &.checked {
        margin-right: 10px;
      }

      @include max-media(mobile) {
        font-size: 10px;
      }
    }

    .errmsg {
      text-align: center;
      color: $red;
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);
      background-color: $blue;
      color: white;
      padding: 10px;
      width: 70%;
      border: none;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
      @include transition(ease, .5s);

      &:hover {
        -webkit-box-shadow: 0px 0px 20px 0px rgba(95,120,255,0.72);
        -moz-box-shadow: 0px 0px 20px 0px rgba(95,120,255,0.72);
        box-shadow: 0px 0px 20px 0px rgba(95,120,255,0.72);
      }

      @include max-media(mobile) {
        font-size: 12px;
      }
    }
  }

  .footer {
    margin-top: 10px;
    font-size: 12px;

    @include max-media(mobile) {
      font-size: 10px;
    }

    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}