.autocomplete {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;

  .input {
    z-index: 202;
    width: 100%;
  }

  &.error .input {
    input {
      border: 1px solid $red;
      color: $red;

      p {
        color: $red;
      }
    }

    label {
      color: $red;
    }
  }

  .results {
    position: absolute;
    top: 2rem;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 201;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

    .autocomplete-results {
      padding: 0;
      margin: 0;
      // border: 1px solid #eeeeee;
      max-height: 200px;
      overflow: auto;
      width: 100%;
    }
  
    .autocomplete-result {
      list-style: none;
      text-align: left;
      padding: 5px 10px;
      cursor: pointer;
      color: black;
      font-weight: normal;

      &.sel {
        background-color: rgba(95,120,255,0.2);
      }

      &:first-child {
        padding-top: 1em;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}
