#autocomplete {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;

  input {
    border: none;
    padding: 5px;
    color: $dark-grey;
    width: 100%;

  }

  .results {
    position: absolute;
    top: 1.5rem;
    left: 0;
    background-color: white;
    width: 100%;

    .autocomplete-results {
      padding: 0;
      margin: 0;
      border: 1px solid #eeeeee;
      max-height: 200px;
      overflow: auto;
      width: 100%;
    }
  
    .autocomplete-result {
      list-style: none;
      text-align: left;
      padding: 4px 2px;
      cursor: pointer;
      color: black;
      font-weight: normal;
    }

    .autocomplete-result:hover {
      background-color: lightgray;
      color: white;
    }
  }
}
