.delegates {
  margin: auto;
  width: 90%;
  margin-bottom: 2rem;

  &-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    @include max-media(tablet) {
      flex-direction: column;
      align-items: flex-start;
    }

    h1 {
      font-size: 3.5rem;
      font-family: 'Montserrat', sans-serif;

      @include max-media(tablet) {
        font-size: 2.5rem;
      }
    }

    .delegates-button {
      display: flex;
      flex-direction: row;
    }
    .button {
      font-family: 'Montserrat', sans-serif;
      border: 1px solid $light-grey;
      border-radius: 10px;
      background-color: white;
      padding: 5px 10px;
      font-weight: bold;
      font-size: 20px;
      margin-left: 1rem;
      cursor: pointer;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: all .3s ease;

      &.warning {
        background-color: $red;
        color: white;
        border-color: transparent;

        &:disabled {
          opacity: 0.6;
        }
      }

      &:disabled {
        cursor: not-allowed;
      }

      @include max-media(tablet) {
        margin: 1rem 1rem 1rem 0;
      }

      @include max-media(mobile) {
        font-size: 14px;
      }

      &:hover {
        border: 1px solid rgba(0,0,0,0);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
      }

    .input {
      input {
        margin-right: 0;
        width: 0;
        @include transition(linear, 0.3s);
      }

        &.show {
          input {
            width: 200px;
            margin-right: 1rem;
            padding-left: 5px;
            font-size: 18px;

            @include max-media(mobile) {
              width: 100px;
              font-size: 14px;
            }

            @include max-media(small-mobile) {
              width: 60px;
            }
          }
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  &-table {
    .content {
      display: flex;
      flex-direction: row;
      width: 100%;

      @include max-media(tablet) {
        flex-direction: column;
      }

      .table-data {
        width: 55%;
        max-height: 62vh;
        overflow-y: auto;
        
        @include max-media(tablet) {
          width: 100%;
        }

        &.empty-data {
          color: gray;
        }
  
        .data {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 10px;

          @include max-media(mobile) {
            font-size: 14px;
          }

          @include max-media(small-mobile) {
            font-size: 12px;

            img {
              width: 35%;
            }
          }
    
          .name {
            display: flex;
            flex-direction: row;
            align-items: center;
      
            img {
              margin-right: 1rem;
            }
          }

          span {
            visibility: hidden;
            margin-left: 1rem;
            color: $red;
            cursor: pointer;
            @include transition(ease-out, 0.05s);

            &.show {
              visibility: visible;
            }
          }
        }
      }

      .info {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 45%;

        @include max-media(tablet) {
          width: 100%;
          margin-top: 2rem;
          border-top: 1px solid $light-grey;
          padding-top: 1rem;
        }

        @include max-media(mobile) {
          flex-direction: column;
        }

        @include max-media(small-mobile) {
          font-size: 12px;
        }

        &-data {
          width: 35%;
          margin: auto;
          display: flex;
          flex-direction: column;

          @include max-media(tablet) {
            flex-direction: row;
            width: 45%;
          }

          @include max-media(mobile) {
            width: 90%;
            justify-content: space-evenly;
          }

          .emphasize {
            font-size: 18px;

            @include max-media(tablet) {
              font-size: 14px;
            }
          }

          .title {
            border-bottom: none;
            margin-bottom: 0;
            
            @include max-media(tablet) {
              margin-right: 1.5rem;
              width: 50%;
            }

            @include max-media(mobile) {
              flex-direction: row;
              width: 8rem;
              margin-right: 0;
            }
          }

          .data {
            margin-bottom: 1.5rem;
          }
        }
      }
    }

    .table {
      width: 100%;
    }

    .title {
      font-family: 'Montserrat';
      font-weight: bold;
      border-bottom: 1px solid $light-grey;
      display: flex;
      flex-direction: row;    
      margin-bottom: 10px;
      padding-bottom: 5px;
      font-size: 20px;

      @include max-media(tablet) {
        width: 100%;
      }

      @include max-media(small-mobile) {
        font-size: 14px;
      }

      &-name {
        width: 38%;

        @include max-media(tablet) {
          width: 69%;
        }
      }

      &-presence{
        width: 17%;

        @include max-media(tablet) {
          width: 30%;
        }
      }
    }

    .name {
      width: 70%;
    }

    .presence {
      width: 30%;
    }
  }

  .rollcall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
    @include transition(ease, 0.5s);
  }

  .overlay {
    z-index: 5;
  }
}

// PLACEHOLDER
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $light-grey;
}