#rollcall {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 75vh;
  min-width: 500px;
  min-height: 450px;
  padding: 3%;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

  @include max-media(mobile) {
    width: 60vw;
    min-width: 290px;
  }

  #close {
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
  }

  #call {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0 -20px;

    @include max-media(mobile) {
      height: 90%;
      flex-direction: column;
      justify-content: space-between;
    }

    .left {
      position: absolute;
      bottom: 13%;
      right: 5%;

      @include max-media(mobile) {
        top: 5%;
        bottom: intial;
        right: initial;
      }
    }

    #selection {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 30%;
      min-width: 150px;
      margin: auto 0 0 30px;

      @include max-media(mobile) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
        grid-template-areas:
          "top top top"
          "botL . botR";
        width: 100%;
        height: 25%;
        min-height: 120px;
        margin: 0 auto;
      }

      #select {
        display: flex;
        grid-area: top;
        justify-content: space-around;
        flex-direction: column;
        
        @include max-media(mobile) {
          flex-direction: row;
        }
      }
    }
  }

  .verdict {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 25% 0 0 auto;
    grid-area: botR;

    p {
      white-space: nowrap;

      @include max-media(mobile) {
        font-size: 14px;
      }
    }

    #continue {
      background-color: $blue;
      color: white;
      border: 1px solid $blue;

      @include max-media(mobile) {
        margin-top: 0;
      }

      &:hover {
        box-shadow: 0 0 20px 0 rgba(95, 120, 255, 0.7);
      }
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    font-size: 20px;
    background-color: white;
    border: 1px solid $light-grey;
    cursor: pointer;
    @include transition(0.3s, ease);

    @include max-media(mobile) {
      font-size: 14px;
    }

    &:hover {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(0, 0, 0, 0);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.red {
      color: white;
      background-color: $red;
      border: 1px solid $red;
      @include transition(ease, 0.3s);

      &:hover {
        box-shadow: 0 0 20px 0 rgba(255, 95, 95, 0.7);
      }
    }

    &#undo {
      margin-bottom: 30px;
      width: 35%;
      min-width: 40px;
      margin: 10px;
      grid-area: botL;
    }

    input {
      border: none;
      width: 0;
      color: $dark-grey;
      @include transition(linear, 0.3s);

      &.show {
        width: 200px;
        margin-right: 1rem;
        padding-left: 5px;
        font-size: 18px;

        @include max-media(mobile) {
          width: 100px;
          font-size: 14px;
        }

        @include max-media(small-mobile) {
          width: 60px;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }

  .cardList {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 1fr;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;

    .cardWrapper {
      position: sticky;
      top: 0.75em;
      transform-origin: center top;

      & ~ .cardWrapper {
        transform: translateY(-50%);
      }
    }
  }
}
