.conferences {
  position: relative;
  display: grid;
  height: calc(100vh - 4.6em);
  grid-template-rows: 70px minmax(0, 1fr);
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'upper upper'
                        'left right';
  width: calc(100% - 4rem);
  margin: 0 auto;
  @include transition(.3s, ease);

  @include max-media(tablet) {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:  'upper'
                          'left';
  }

  &.mobile {
    @include max-media(tablet) {
      grid-template-rows: 1fr;
      grid-template-areas: 'left';
    }
  }

  @include max-media(tablet) {
    .confModal {
      transform: translate(-105%, calc(-50% - 2.325em));

      &.edit {
        transform: translate(5%, calc(-50% - 2.325em));
      }
    }
  }

  .overlay {
    width: 200vw;
    height: 200vh;
    z-index: 199;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.65);
    pointer-events: none;
  }

  &-upper {
    grid-area: upper;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid $light-grey;

    @include max-media(tablet) {
      margin: 0 1em;
    }

    h1 {
      font-size: 3.5rem;
      font-family: 'Montserrat', sans-serif;

      @include max-media(tablet) {
        font-size: 2.5rem;
      }
      @include max-media(mobile) {
        font-size: 1.5rem;
      }
    }

    p {
      top: -10px;
      position: relative;

      @include max-media(mobile) {
        top: 0;
      }
    }

    .conferences-button {
      display: flex;
      flex-direction: row;
    }

    .button {
      border: 1px solid $light-grey;
      border-radius: 10px/10px;
      background-color: white;
      padding: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition(0.3s, ease);

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &:hover {
        border: 1px solid rgba(0,0,0,0);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
      }
    }
  }

  .table-data {
    grid-area: left;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid $light-grey;
    
    @include max-media(tablet) {
      border: 0;
      width: calc(100% - 2em);
      margin: 0 1em;
    }

    .search {
      margin-bottom: 15px;
    }

    .data {
      display: flex;
      flex-direction: row;
      padding: 1em;
      align-items: center;
      border-radius: 20px 0 0 20px;
      cursor: pointer;
      @include transition(.3s, ease);

      @include max-media(mobile) {
        font-size: 14px;
      }

      @include max-media(small-mobile) {
        font-size: 12px;
        
      }

      &:hover {
        @include min-media(tablet) {
          background-color: rgba(95,120,255,0.20);
        }
      }

      &.selected {
        color: white;
        background-color: $blue;

        .nameConf span .badge {
          color: white;
          border: 1px solid white;
        }
      }

      .logoConf {
        width: 3em;
        height: 3em;
        margin-right: 1em;
      }

      .nameConf {
        display: flex;
        flex-direction: column;

        span {
          display: flex;
          white-space: nowrap;
          align-items: center;

          .badge {
            margin-left: 1em;
            border-radius: 10px/10px;
            border: 1px solid $blue;
            padding: 3px 5px;
            color: $blue;
            font-size: .5em;
          }
        }
      }

      svg {
        margin-left: auto;
      }
    }
  }
  .notSelected {
    grid-area: right;
    padding: 30%;
    background: url('~@/assets/img/bg.png') 100% 110%/50% no-repeat;
  }
  .noConf {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    padding: 10%;
    background: url('~@/assets/img/bg3.png') 100% 140%/40% no-repeat;
  }

  .confError {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    padding: 10%;
    background: url('~@/assets/img/bg2.png') 100% 140%/40% no-repeat;
  }

  .confError, .noConf, .notSelected {
    // grid-area: right;
    // grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  
    @include max-media(tablet) {
      background-position: 100% 110%;
    }

    @include max-media(mobile) {
      background-position: 100% 110%;
      background-size: 70%;
    }
  }
}
