.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.scale-enter-active, .scale-leave-active {
  transition: all .5s;
}
.scale-enter, .scale-leave-to {
  opacity: 0;
  transform: scale(0);
}