@import "colors";
@import "breakpoints";
@import "fonts";
@import "mixins";
@import "transitions";
$flag-icon-css-path: '~flag-icon-css/flags';
@import '~flag-icon-css/sass/flag-icon.scss';

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.65);
  z-index: 3;
  transition: .5s ease-in-out;
}

button {
  border: 1px solid $light-grey;
  background-color: white;
  padding: 10px 15px;
  border-radius: 15px/15px;
  cursor: pointer;
  @include transition(.3s, ease);

  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid white;
  }

  &:focus {
    outline: none;
  }
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &.disabled {
    opacity: 50%;
    cursor: not-allowed;
  }

  .err {
    // position: absolute;
    font-size: 10px;
    color: $red;
    // bottom: -30%;
  }

  input {
    flex-grow: 1;
    font-size: 16px;
    padding: 10px;
    min-height: 20px;
    display: block;
    border-radius: 10px/10px;
    border :1px solid $light-grey;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
    user-select: initial !important;

    @include max-media(mobile) {
      font-size: .75em;
    }

    &:-webkit-input-placeholder, &:placeholder, &:-webkit-datetime-edit {
      color: transparent;
    }
    
    &:focus, &.focus {
      outline: none;
      border :1px solid $blue;
    }

    &.error {
      border :1px solid $red !important;
      margin-bottom: 10px;

      & ~ label {
        color: $red !important;
        top: calc(50% - 10px) !important;
      }
    }

    &:not(:placeholder-shown) ~ label {
      transform: translateY(-170%);
      font-size: .75em;
      color: black;
    }
    
    &:focus ~ label, &.focus ~ label {
      transform: translateY(-170%);
      font-size: .75em;
      color: $blue;
    }
  }

  label {
    color: $light-grey;
    background-color: white;
    padding: 0 3px;
    font-size: 1em;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.2s ease all; 

    @include max-media(small-mobile) {
      font-size: .75em;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
  margin-right: 10px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-grey;
  @include transition(0.3s, ease);
  border-radius: 23px;

  &:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: -2px;
    bottom: -2px;
    border: 1px solid $light-grey;
    background-color: white;
    border-radius: 50%;
    @include transition(0.3s, ease);
  }
}


input:checked + .slider {
  background-color: $blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $blue;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

// SCROLLBAR
::-webkit-scrollbar {
  display: none;
  // width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"]{
  -webkit-appearance: none;
}

#nprogress .bar {
  background: $blue !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px white, 0 0 5px white !important;
}