#grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  text-align: center;

  .delegates-row {
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;

    @include max-media (mobile) {
      font-size: 0.7rem;
    }
  }

  h3 {
    font-size: 1.2rem;

    @include max-media(mobile) {
      font-size: 1rem;
    }
  }

  p {
    font-size: 1rem;
    text-align: center;

    @include max-media (mobile) {
      font-size: 0.7rem;
    }
  }
}