#flex {
  display: flex;
  flex-direction: column;

  .delegates {
    white-space: pre-wrap;
    display: flex;
    align-items: center;
  }

  h3 {
    margin-top: 10px;
    font-size: 1.2rem;

    &:first-child {
      margin: 0;
    }

    @include max-media (mobile) {
          font-size: 1rem;
    }
  }

  p {
    font-size: 1rem;

    @include max-media (mobile) {
          font-size: 0.7rem;
    }
  }
}