.card {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  padding: 1%;
  background-color: white;
  border: 1px solid $light-grey;
  border-radius: 20px/20px;

  @include max-media(mobile) {
    border-radius: 15px/15px;
  }

  .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1%;
    display: flex;
    border: 1px solid rgba(0,0,0,0);
    align-items: flex-start;
    justify-content: space-between;
    z-index: 5;
    @include transition(1s, ease);

      h1, .desc, .time {
        color: white;
      }
  }

  svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .desc {
    position: absolute;
    left: 3%;
    top: 3%;
    align-self: flex-start;
    z-index: 2;
    @include transition(.5s, ease);

    @include max-media (mobile-landscape) {
      top: 6%;
    }
  }

  .country {
    position: absolute;
    right: 5%;
    top: 2%;
    transform:  scale(0.3);
    display: flex;
    align-items: center;
    height: 5rem;
    width: fit-content;
    z-index: 2;
    transform-origin: right top;
    @include transition(.5s, ease);

    @include max-media (mobile-landscape) {
      top: -15%;
    }

    img {
      width: auto;
      height: 5rem;
      margin-right: 5px;
    }
    
    h1 {
      font-size: 4rem;
      margin-left: 5px;

      @include max-media (small-tablet) {
        font-size: 3rem;
      }

      @include max-media (mobile-landscape) {
        font-size: 2rem;
      }
    }
  }

  p {
    @include max-media(small-tablet) {
      font-size: 12px;
    }

    @include max-media (mobile-landscape) {
      font-size: 10px;
    }
  }

  .time {
    position: relative;
    top: 1%;
    right: 3%;
    align-self: flex-start;
    z-index: 2;
  }
}

.active .card {
  .country {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.top .card {
  .country {
    bottom: initial;
    top: 3%;
    transform-origin: right top;
  }
}

.bottom .card {
  .country {
    bottom: 7%;
    top: initial;
    transform-origin: right bottom;
  }

  .desc {
    top: initial;
    bottom: 6%;

    @include max-media (mobile-landscape) {
      // bottom: 3%;
    }
  }
}