#rollcall {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 75%;
    min-width: 200px;
    padding: 3%;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);

    #close {
      position: absolute;
      align-self: flex-end;
      cursor: pointer;
    }

    #call {
      display: flex;
      margin: auto;

      #selection {
        display: flex;
        flex-direction: column;
        width: 30%;
        min-width: 150px;
        margin: auto 0 auto 30px;

        #notPresent {
          color: white;
          background-color: $red;
          border: 1px solid $red;
          @include transition(ease, 0.3s);

          &:hover {
            box-shadow: 0 0 20px 0 rgba(255,95,95,0.7);
          }
        }
      }

      button {
        margin: 10px 0;
        border-radius: 10px;
        padding: 5px 10px;
        font-family: 'Montserrat', sans-serif;
        white-space: nowrap;
        font-size: 20px;
        background-color: white;
        border: 1px solid $light-grey;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
        cursor: pointer;

        @include max-media(tablet) {
          margin: 1rem 1rem 1rem 0;
        }

        @include max-media(mobile) {
          font-size: 14px;
        }
        
        input {
          border: none;
          width: 0;
          color: $dark-grey;
          @include transition(linear, 0.3s);
        
          &.show {
            width: 200px;
            margin-right: 1rem;
            padding-left: 5px;
            font-size: 18px;

            @include max-media(mobile) {
              width: 100px;
              font-size: 14px;
            }

            @include max-media(small-mobile) {
              width: 60px;
            }
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }