#rollcall {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 75%;
    min-width: 500px;
    padding: 3%;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);

    @include max-media (mobile) {
      min-width: 300px;
    }

    #close {
      position: absolute;
      align-self: flex-end;
      cursor: pointer;
    }

    p {
        text-align: center;
        white-space: pre-wrap;
        font-size: 1rem;

        @include max-media (mobile) {
          font-size: 0.7rem;
          margin-top: 10%;
        }
      }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 10% 0;

      @include max-media (mobile) {
          margin: 3%;
          height: 30%;
        }

      .carousel {
        width: 100%;
      }

      .line {
        width: 0;
        height: 100%;
        border-right: 1px solid black;
        margin: 0 10%;
      }

      .center {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    #select {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: auto;

      #indicator {
        position: absolute;
        border-radius: 20px;
        width: 40%;
        height: 100%;
        opacity: 0;
        background-color: rgba(255,95,95,0.2);
        z-index: 1;
        left: 30%;
        @include transition(ease, 0.5s);
      }

      .selection {
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        z-index: 2;

        h2 {
          font-size: 1.5rem;
        }

        .input {
          padding: 10px 15px;
          font-family: 'Montserrat', sans-serif;
          font-size: 30px;
          text-align: center;
          font-weight: bold;
          background-color: initial;
          width: 50px;
          border-image: linear-gradient(to top, rgba(255,95,95,0) 0%,rgba(255,95,95,1) 0%,rgba(255,95,95,1) 30%,rgba(255,95,95,0) 30%);
          border-image-slice: 1;

          @include max-media(tablet) {
            font-size: 25px;
          }

          &.blue {
            border-image: linear-gradient(to top, rgba(95,120,255,0) 0%,rgba(95,120,255,1) 0%,rgba(95,120,255,1) 30%,rgba(95,120,255,0) 30%);
            border-image-slice: 1;
          }

          &:focus {
            outline: none;
          }

          /* Chrome, Safari, Edge, Opera */
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          &[type=number] {
            -moz-appearance: textfield;
          }
        }

        .blue {
          text-align: center;
          color: $blue;
        }

        .red{
          text-align: center;
          color: $red;
        }
      }
    }

    #verdict {
      display: flex;
      flex-direction: column;
      width: 25%;
      margin: auto 0 0 auto;

      @include max-media(mobile) {
        width: 100%;
      }

      p {
        white-space: nowrap;
      }

      #rerun {
        background-color: $red;
        border: 1px solid $red;
        &:hover{
          box-shadow: 0 0 20px 0 rgba(255,95,95,0.7);
        }
      }

      button {
        margin: 10px 0;
        border-radius: 10px;
        padding: 5px 10px;
        font-family: 'Montserrat', sans-serif;
        white-space: nowrap;
        font-size: 20px;
        color: white;
        background-color: $blue;
        border: 1px solid $blue;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
        cursor: pointer;
        @include transition(ease, 0.3s);

        &:hover {
          box-shadow: 0 0 20px 0 rgba(95,120,255,0.7);
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        @include max-media(tablet) {
          margin: 1rem 1rem 1rem 0;
        }

        @include max-media(mobile) {
          font-size: 14px;
        }
        
        input {
          border: none;
          width: 0;
          color: $dark-grey;
          @include transition(linear, 0.3s);
        
          &.show {
            width: 200px;
            margin-right: 1rem;
            padding-left: 5px;
            font-size: 18px;

            @include max-media(mobile) {
              width: 100px;
              font-size: 14px;
            }

            @include max-media(small-mobile) {
              width: 60px;
            }
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }