.home {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 3%;
  width: 94%;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  margin-top: -20%;
  font-family: 'Montserrat', sans-serif;

  @include max-media(mobile){
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 4rem;
      font-weight: bold;
      width: 75%;
      margin: 0 auto;
      text-align: center;
    }

    @include max-media(tablet){
      width: 55%;

      h1 {
        font-size: 3rem;
        width: 100%;
      }
    }

    @include max-media(mobile){
      width: 90%;
      margin-bottom: 3rem;
      margin-top: 2rem;

      h1 {
        font-size: 2.5rem;
      }
    }

    picture {
      width: 35%;
      min-width: 180px;

      @include min-media(wide) {
        width: 30%;
      }
    }

    .banner-image {
      width: 100%
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.5rem;
    width: 50%;

    @include max-media(tablet){
      width: 45%;
    }

    @include max-media(mobile){
      padding-left: 0;
      width: 85%;
      margin: auto;
    }

    .chair,
    .rules {
      &-sub-header {
        font-size: 3.5rem;
        font-weight: bold;
        width: 100%;
        margin-bottom: 1rem;

        @include max-media(tablet){
          font-size: 2.5rem;
        }

        @include max-media(mobile){
          font-size: 1.5rem;
        }
      }

      display: flex;
      flex-wrap: wrap;

      &-data {
        margin-right: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        @include min-media(tablet){
          width: 45%;
        }
      }
    }

    .chair {
      margin-bottom: 2rem;

      &-list {
        max-height: 35vh;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;

        @include max-media(tablet){
          max-height: 340px;
        }
      }

      &-img {
        width: 45px;
        min-width: 45px;
        height: 45px;
        background-color: lightgray;
        border: none;
        border-radius: 25px;
        margin-right: 10px;
      }

      &-name {
        font-weight: bold;
        margin-bottom: 3px;
        font-size: 18px;

        @include max-media(tablet){
          font-size: 14px;
        }
      }

      &-email {
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;

        @include max-media(tablet){
          font-size: 10px;
        }
      }


    }

    .rules {
      flex-direction: row;

      @include max-media(tablet){
        flex-direction: column;
      }

      &-val {
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;

        @include max-media(tablet){
          font-size: 10px;
        }
      }

      &-point {
        font-weight: bold;
        font-size: 18px;
        margin-right: 1rem;
        width: 5.5rem;

        @include max-media(tablet){
          width: 6rem;
        }

        @include max-media(tablet){
          font-size: 14px;
        }
      }
    }
  }
}