*{
  padding: 0;
  margin: 0;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

#app {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 15px 2rem;
  justify-content: flex-start;
  position: relative;

  @include max-media(tablet) {
    justify-content: space-between;
  }

  @include max-media(mobile) {
    padding: 15px 5%;
  }

  &Logo {
    width: 4%;

    img {
      width: 20%;
      max-width: 100%;
      min-width: 45px;
      cursor: pointer;
    }
  }

  &Tab {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 1rem;

    @include max-media(tablet) {

      &.toggle {
        opacity: 1;
        z-index: 7;
      }

      margin-right: 0;
      position: absolute;
      top: 0;
      opacity: 0;
      right: 0px;
      max-width: 300px;
      height: 100vh;
      background-color: white;
      flex-direction: column;
      justify-content: flex-start;
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      z-index: -1;
    }
  }

  &Left {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-left: 2rem;

    a {
      font-size: 1rem;
      margin-right: 1rem;
      padding: 3px 5px;
    }

    @include max-media(tablet) {
      margin-top: 80px;
      flex-direction: column;
      margin-left: 0;
      justify-content: flex-start;
      align-items: flex-end;

      a {
        margin-bottom: .5rem;
        margin-right: 2rem;
      }
    }
  }
  

  &Right {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      font-size: 1rem;
      margin-right: 1rem;

      img {
        width: 1.5rem;
      }
    }

    @include max-media(tablet) {
      margin-top: 3rem;
      flex-direction: column;
      margin-left: 0;
      justify-content: flex-start;
      align-items: flex-end;

      a {
        margin-bottom: .5rem;
        margin-right: 2rem;
      }
    }
  }
  
  a {
    font-weight: bold;
    color: $black;
    text-decoration: none;
    cursor: pointer;

    &.router-link-exact-active {
      color: $black;

      @include max-media(tablet) {
        color: gray;
      }
    }
  }
}

.border {
  position: absolute;
  transition: left 0.5s ease-in-out, width 0.5s 0.10s;
  height: 28px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
  border-radius: 10px;
  left: 0;
  top: 6px;
  width: 69px;
  pointer-events: none;
}

.burger {
  width: 25px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 7;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $black;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  span:nth-child(3) {
    top: 26px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  &.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  &.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 27px;
  }
}

.overlay-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 6;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}