* {
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-touch-callout: none;
}

#app {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  @include max-media(mobile) {
    font-size: 1.5em;
  }
}

.indicator {
  will-change: transform;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px/10px;
  color: white;
  background-color: $red;
  box-shadow: 0px 0px 20px 0px rgba(255,95,95,0.7);
  pointer-events: none;
  z-index: 5;
  @include transition(.5s, ease);

  &.blue {
    background-color: $blue;
    box-shadow: 0px 0px 20px 0px rgba(95,120,255,0.7);
  }
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 15px 2rem;
  justify-content: flex-start;
  position: relative;

  @include max-media(tablet) {
    justify-content: space-between;
  }

  @include max-media(mobile) {
    padding: 15px 5%;
  }

  &Logo {
    width: 4%;
    position: relative;

    img {
      position: absolute;

      // width: 20%;
      // max-width: 100%;
      // min-width: 45px;
      max-height: 120%;
      height: 120%;
      cursor: pointer;

      &.glow {
        filter: drop-shadow(0 0 5px rgba(95,120,255,0.7));
      }

      @include min-media(tablet) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &Tab {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @include max-media(tablet) {

      &.toggle {
        opacity: 1;
        z-index: 99;
      }

      margin-right: 0;
      position: absolute;
      top: 0;
      opacity: 0;
      right: 0px;
      max-width: 300px;
      height: 100vh;
      background-color: white;
      flex-direction: column;
      justify-content: flex-start;
      transition: .3s ease-in-out;
      z-index: -1;
    }
  }

  &Left {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-left: 2rem;

    a {
      font-size: 1rem;
      margin-right: 1rem;
      padding: 3px 5px;
    }

    div.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      
      a {
        pointer-events: none;
      }
    }

    @include max-media(tablet) {
      margin-top: 80px;
      flex-direction: column;
      margin-left: 0;
      justify-content: flex-start;
      align-items: flex-end;

      a {
        margin-bottom: .5rem;
        margin-right: 2rem;
      }
    }
  }
  

  &Right {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      font-size: 1rem;
      margin-right: 1rem;

      &:last-child {
        margin: 0;

        @include max-media(tablet) {
          margin-right: 2rem;
        }
      }

      img {
        width: 1.5rem;
      }
    }

    @include max-media(tablet) {
      margin-top: 3rem;
      flex-direction: column;
      margin-left: 0;
      justify-content: flex-start;
      align-items: flex-end;

      a {
        margin-bottom: .5rem;
        margin-right: 2rem;
      }
    }
  }
  
  a {
    font-weight: bold;
    color: $black;
    text-decoration: none;
    cursor: pointer;

    &.router-link-exact-active {
      color: $black;

      @include max-media(tablet) {
        color: $blue;
      }
    }
  }
}

.border {
  position: absolute;
  transition: left 0.5s ease-in-out, width 0.5s 0.10s;
  height: 28px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
  border-radius: 10px;
  left: 0;
  top: 6px;
  width: 69px;
  pointer-events: none;
}

.burger {
  width: 25px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 100;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $black;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 10px;
    transform-origin: left center;
  }
  
  span:nth-child(2) {
    top: 18px;
    transform-origin: left center;
  }
  
  span:nth-child(3) {
    top: 26px;
    transform-origin: left center;
  }
  
  &.open span:nth-child(1) {
    transform: rotate(45deg);
  }
  
  &.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  &.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 27px;
  }
}

.overlay-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 6;
  transition: .5s ease-in-out;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.65);
  z-index: 3;
  transition: .5s ease-in-out;
}

button {
  border: 1px solid $light-grey;
  background-color: white;
  padding: 10px 15px;
  border-radius: 15px/15px;
  cursor: pointer;
  @include transition(.3s, ease);

  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid white;
  }

  &:focus {
    outline: none;
  }
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .err {
    // position: absolute;
    font-size: 10px;
    color: $red;
    // bottom: -30%;
  }

  input,
  input:-webkit-autofill,
  input:-webkit-autofill:hover {
    flex-grow: 1;
    font-size: 16px;
    padding: 10px;
    min-height: 20px;
    display: block;
    border-radius: 10px/10px;
    border :1px solid $light-grey;
    box-shadow: 0 0 0 30px white inset !important;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
    user-select: initial !important;

    @include max-media(mobile) {
      font-size: .75em;
    }

    &:-webkit-input-placeholder, &:placeholder, &:-webkit-datetime-edit {
      color: transparent;
    }
    
    &:focus, &.focus, &:-webkit-autofill:focus {
      outline: none;
      border :1px solid $blue;
    }

    &.error {
      border :1px solid $red !important;
      margin-bottom: 10px;

      & ~ label {
        color: $red !important;
        top: calc(50% - 10px) !important;
      }
    }

    &:not(:placeholder-shown) ~ label {
      transform: translateY(-170%);
      font-size: .75em;
      color: black;
    }
    
    &:focus ~ label, &.focus ~ label {
      transform: translateY(-170%);
      font-size: .75em;
      color: $blue;
    }
  }

  label {
    color: $light-grey;
    background-color: white;
    padding: 0 3px;
    font-size: 1em;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.2s ease all; 

    @include max-media(small-mobile) {
      font-size: .75em;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
  margin-right: 10px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-grey;
  @include transition(0.3s, ease);
  border-radius: 23px;

  &:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: -2px;
    bottom: -2px;
    border: 1px solid $light-grey;
    background-color: white;
    border-radius: 50%;
    @include transition(0.3s, ease);
  }
}


input:checked + .slider {
  background-color: $blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $blue;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

// SCROLLBAR
::-webkit-scrollbar {
  display: none;
  // width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"]{
  -webkit-appearance: none;
}

#nprogress .bar {
  background: $blue !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px white, 0 0 5px white !important;
}