.stackOverflow {
  height: 96.9%;
  width: 75%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  .stack-cards {
    --stack-cards-gap: 2.75em; // cards gap on scrolling
    list-style-type: none;

    .stack-cards__item {
      position: relative; // fallback for browsers not supporting sticky position
      position: sticky;
      top: -25%; // cards top position when they get fixed
      height: 0;
      padding-bottom: 50%; // 18:9 aspect ratio
      transform-origin: center top;
      width: 85%;
      margin: 0 auto;

      > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        will-change: transform, opacity;
      }
    }
  }
}
