  .stackOverflow {
    position: relative;
    height: 100%;
    width: 60%;
  
    @include max-media (mobile) {
      width: 90%;
      // height: 60%;
    }

  .stack-cards {
    position: relative;
    height: 100%;
    width: 100%;
    list-style-type: none;
  
    .stack-cards__item {
      position: absolute;
      height: 30%;
      min-height: 170px;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center bottom;
      margin: 0 auto;
      @include transition(.5s, ease);

      @include max-media(mobile) {
        width: 90%;
        min-height: 120px;
        max-width: 300px;
      }

      &.active {
        transform: translate(-50%, -50%) scale(1) !important;
      }

      > * {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        will-change: transform, opacity;
      }
    }
  }
}
